section {
    text-align: center;
    text-justify: distribute;
    background-color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

/*--- Navigation bar Styles for home & other pages ---*/
.nav {
    width: 100%;
    height: 100px;
	float: left;
    margin: 0 auto;
    justify-content: space-between;
}

#nav li a:hover {
    color:#00D646;
}

#nav li a:active {
    color:#6F7A8A;
}

#nav ul {
    display: flex;  
    list-style-type: none;
    width: 800px;
    margin: 0 auto;
	padding: 20px;
    justify-content: space-around;
}

#nav li a {
    display: block;
	padding: 10px;
    text-decoration: none;
	color:white;
    letter-spacing: 1px;
}

/*--- Hero/Landing page Styles ---*/
.hero {
    background-image: url(Images/Hero-Images/Landing-page.png);
    height: 100vh;
    color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*--- About section styles ---*/
.about {
    background-color: #152136;
    height: 850px;
    margin: 0 auto;
	padding: 20px;
    color: black;
}

.about-subsection {
    margin: 0 auto;
    width: 800px;
    color: white;
}

/*--- Skills section styles ---*/
.skills {
    background-image: url(Images/Hero-Images/Skills-section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    margin: 0 auto;
    height: 650px;
    padding: 20px;
}
.skills-subsection {
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
}

#skills-subsection li {
    color: white;
    list-style-type: none;
    font-size: 18px;
    text-decoration: none;
}

/*--- Experience page & section styles ---*/
.experience-hero {
    background-image: url("Images/Hero-Images/Experiences.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.experience-page {
    background-color: #e3e5e8;
}

.experience {
    height: 1500px 100vh; 
    width: 800px;
    margin: 0 auto;
    padding: 20px;    
}

.experience-section {
    height: 1350px;
    background-image: url("Images/Hero-Images/Expereince-section.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px;  
}

/*--- Education page & section styles ---*/
.education-hero {
    background-image: url("Images/Hero-Images/Education.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.education-page {
    background-color: #e3e5e8;
}

.education {
    height: 1500px 100vh;
    width: 800px;
    margin: 0 auto;
    padding: 20px;    
}

.education-section {
    height: 500px;
    background-color:#e3e5e8;
    padding: 20px;
}

/*--- Projects page & section styles ---*/
.projects-hero {
    background-image: url("Images/Hero-Images/Skills-section.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.projects-page {
    background-color:#e3e5e8;
}

.projects {
    height: 3500px 100vh;
    width: 800px;
    margin: 0 auto;
    padding: 20px;   
}

.project-grid {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    padding-bottom: 20px;
}

.project-block {
    width: 250px;
    margin: 10px;
}

.projects-section {
    background-color:#e3e5e8;
    height: 550px;
    padding: 20px; 
}

.projects-subsection {
    width: 800px;
    margin: 20px auto;
}

/* --- Contact section styling --- */
.contact-section {
    background-color:#6F7A8A;
    height: 760px 100vh;
    margin: 0 auto;
    padding: 20px;
}

.contact-subsection {
    background-color:#152136; 
    margin: 30px auto;
    padding: 20px;
    width: 800px;
    box-shadow: 4px 4px 4px #4D5466;
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
}

.socials img {
    display: block;
    height: 50px;
    cursor:pointer;
}

.socials img:hover {
    border: 1px solid #00D646;
    border-radius: 50%;
}

.form-styling {
    content: 500px;
    padding: 20px;
}

.form-styling input {
    width: 500px;
    height: 40px;
    margin: 10px;
    border-style: none;
    text-indent: 10px;
}

.form-styling button {
    text-align: center;
    width: 500px;
    height: 40px;
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    border-style: solid;
    border-width: 1px;
    background-color: #333B50;
    border-color: #00D646;
    cursor: pointer;
    box-shadow: 4px 4px 4px #4D5466;
}

.form-styling button:hover {
    cursor: pointer;
    background-color: #4D5466;
}

/* --- References section styling --- */
.references-section {
    background-color: #152136;
    height: 400px;
    padding: 20px;
}

.references-subsection {
    margin: 0 auto;
    width: 800px;
    color:#6F7A8A;
    display: flex;
    justify-content: space-between;
}

#references-subsection div {
    color: white;
    width: 300px;
    margin: 5px;
    padding: 30px;
}

/* --- Thank you page styling ---*/
.thank-you {
    margin: 0 auto;
    text-align: center;
}

.thank-you-hero {
    background-image: url("Images/Hero-Images/Landing-page.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.thank-you {
    background-color:white;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

/* --- Footer section styling --- */
footer {
    height: 150px 100vh;
    padding: 10px;
    text-align: center;
    background-color:  #152136;
}

footer p {
    font-size: 15px;
    color: #00D646;
}

/* --- Button Styles --- */
.section-button {
    margin: auto;
    width: 200px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #00D646;
    background-color: transparent;
    box-shadow: 4px 4px 4px #333B50;
}

.section-button a {
    line-height: 3;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
	color: #00D646;
}

.section-button:hover {
    color: white; 
    background-color: #6F7A8A;
    box-shadow: 4px 4px 4px #4D5466;
    cursor:pointer;
}

.section-button:active {
    color: #00D646;
    background-color: #6F7A8A;
    border-style: solid;
    border-color:white;
    box-shadow: 4px 4px 4px #4D5466;
}

/* --- Back-to-top button styling--- */
.back-to-top-button {
    position: fixed;
    float: right;
    right: 2%;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border-style: none;
    font-size: 15px;
    text-decoration: none;
    background-color: #00D646;
    box-shadow: 2px 2px 2px #333B50;;
}

.back-to-top-button a {
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 700;
	color: white;
}

/*--- Dropdown 'Details & Summary' styling ---*/
/* adapted from https://codepen.io/frederickallen/pen/NZMEMw */

details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

@keyframes open {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

details summary {
    width: 100%; 
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    right: 0;
    font-weight: 300;
    transform-origin: center;
    transition: 200ms linear;
    margin: 0 auto; 
}

details[open] summary:after {
    font-size: 18px;
    background-color: white;
}

details summary {
    outline: 0;
}

#details h6 {
    color:#00D646;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    letter-spacing: 1px;
}

/* --- Experience timeline styling ---*/
/* adapted from https://codepen.io/z-/pen/bwPBjY */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.experience-subsection {
    width: 800px;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.experience-subsection:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    background: #00D646;
    margin-top: 10px;
    z-index: 9999;
}

.timeline-content {
    width: 95%;
    padding: 0 15px;
    color:white;
}

@media screen and (max-width: 768px) {
    .experience-subsection:before {
        left: 8px;
        width: 2px;
    }
    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }
    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }
}

/* --- Font Styles --- */
h1 {
    color:#00D646;
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

h2 {
    color: #00D646;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    color:#333B50;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

h4 {
    color:#152136;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

h5 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.5;
}

h6 {
    color:#00D646;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin: -10px;
}

h6 a {
    color:#00D646;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
}

p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

a {
    color:#00D646;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
}

a h3:hover {
    color:#00D646;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    margin-left: -30px;
}

li {
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    text-decoration: none;
}

/*--- Video, Image, Icon & Shape Styles ---*/
.video-position {
	position: relative;
	padding-bottom: 60%; 
	padding-top: 25px;
	height: 0;
    margin: 0 auto;
}

.video-position iframe {
    align-tracks: center;
	position: relative;
	top: 0;
	left: 0;
	width: 800px;
	height: 450px;
    background-color: transparent;
}

img {
    filter: #6F7A8A(100%);
}

.icons {
    height: 250px;
    width: 250px;
}

.line {
    display: flex;
    background:#00D646;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 800px;
}

.vertical-line {
    margin: 0 auto;
    height: 50px;
    border-left: 1px solid #00D646;
    position: relative;
    left: 50%;
}
